.buscar-form {
  border-radius: 3px;
  border: 1px solid #3c8db1;
  margin: 10px 10px;
}
.buscar-form input[type="text"],
.buscar-form .btn {
  box-shadow: none;
  background-color: #3c8db1;
  border: 1px solid transparent;
  height: 35px;
}
.buscar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.buscar-form input[type="text"]:focus,
.buscar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.buscar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.buscar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}